* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #F2F5F9;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width:70vh;
  height: auto;
  background-color: #ffff;
  border-radius: 1rem;
  margin:0;
  
}

img {
  position:relative;
  border-radius: 1rem;
}

.over {
  position:relative;
  bottom:4rem;
}

h1 {

  font-size:1.5rem;
  color:#111729;
  margin-top:-4rem;
  margin-left:1rem;
}

.description {
  font-size:1rem;
  color:#4A5567;
  margin-top:1rem;
  margin-left:1rem;
}

hr {
  width: 100%;
  border-top: 1.5px solid #F2F5F9;
  margin: 1rem 0;
}

.name {
  display:flex;
  align-items: center;
  justify-self: center;
  flex-direction: row;
  margin-bottom:1rem;
}

.emjio {
  font-size: 2rem;
  color: #111729;
  margin-right: 1rem;
  width: 10%;
  height:10%; 
  border-radius: 50%;
  box-shadow: 0 0 0 0.3rem #F2F5F9;

}

strong {
 color:#111729;
}

.amy {
  font-size:1rem;
  color:#4A5567;
}